html {
    background-color:rgb(26, 0, 170);
    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(7, 14, 100);
}
body {
    background-color: rgb(0, 238, 255);
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}
section{
    background-color: blue
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    display: flex;
    text-align: center;
}
article, aside{
    background-color: rgb(22, 214, 240)
    paddibg: 10px;
    margin: 10px;
    border: 1px solid black;
    text-align: centre;
}
h2, p, img, audio, video, iframe{
    background-color: rgb(75, 77, 231);
    padding: 10px;
    
    
}
